<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>water_wave_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1210},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>water_wave_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1210},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>water_wave_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1512},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>water_wave_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>water_wave_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,908},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>water_wave_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,908},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>water_wave_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>water_wave_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,606},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>water_wave_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,606},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>water_wave_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>water_wave_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,304},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>water_wave_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,304},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>water_wave_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>water_wave_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>water_wave_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>water_wave_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>water_wave.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d58ed8167ff6fee219a0c6e501eb137b:1/1$</string>
            <key>textureFileName</key>
            <string>water_wave.png</string>
        </dict>
    </dict>
</plist>
