<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_IMG_HP.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1},{383,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,84}}</string>
                <key>sourceSize</key>
                <string>{383,84}</string>
            </dict>
            <key>BOSS_HEAD_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,376},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>BOSS_HEAD_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,441},{63,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,61}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>BTN_FISH_RATE_CLICK.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,432},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>BTN_MUSIC_DEFAULT.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,432},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>BTN_MUSIC_OFF.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,345},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>BTN_OUT_CLICK.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,432},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>BTN_OUT_CLICK_DISABLE.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,459},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,45}}</string>
                <key>sourceSize</key>
                <string>{54,45}</string>
            </dict>
            <key>BTN_SOUND_DEFAULT.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,416},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>BTN_SOUND_OFF.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,345},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>CancelLockFish.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,181},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ExitMsg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{552,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,123}}</string>
                <key>sourceSize</key>
                <string>{552,123}</string>
            </dict>
            <key>GUN_ICON.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,415},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>IMG_BG_NOTIFY_BAR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,195},{556,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,34}}</string>
                <key>sourceSize</key>
                <string>{556,34}</string>
            </dict>
            <key>IMG_BG_NOTIFY_BAR_LOBBY.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,126},{537,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,67}}</string>
                <key>sourceSize</key>
                <string>{537,67}</string>
            </dict>
            <key>IMG_BORDER_OPTIONGAME.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,87},{99,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,246}}</string>
                <key>sourceSize</key>
                <string>{99,246}</string>
            </dict>
            <key>IMG_BTN_CLOSEGAME.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,339},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>IMG_BTN_OPTIN_INGAME.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>IMG_BTN_OPTIN_INGAME_EXTEND.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,415},{42,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,59}}</string>
                <key>sourceSize</key>
                <string>{42,59}</string>
            </dict>
            <key>IMG_COIN.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,339},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>IMG_HP_BAR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,446},{256,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,18}}</string>
                <key>sourceSize</key>
                <string>{256,18}</string>
            </dict>
            <key>IMG_HP_CURRENT_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,466},{256,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,18}}</string>
                <key>sourceSize</key>
                <string>{256,18}</string>
            </dict>
            <key>IMG_HP_CURRENT_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,486},{256,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,18}}</string>
                <key>sourceSize</key>
                <string>{256,18}</string>
            </dict>
            <key>IMG_HP_CURRENT_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,188},{256,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,18}}</string>
                <key>sourceSize</key>
                <string>{256,18}</string>
            </dict>
            <key>IMG_HP_CURRENT_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,208},{256,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,18}}</string>
                <key>sourceSize</key>
                <string>{256,18}</string>
            </dict>
            <key>IMG_LEVEL_TEXT.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,73},{37,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,23}}</string>
                <key>sourceSize</key>
                <string>{37,23}</string>
            </dict>
            <key>IMG_TEXT_LOCK_FISH.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,381},{478,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,63}}</string>
                <key>sourceSize</key>
                <string>{478,63}</string>
            </dict>
            <key>LockFish.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,263},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Maximize.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,446},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>btn_cancel_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,446},{146,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,52}}</string>
                <key>sourceSize</key>
                <string>{146,52}</string>
            </dict>
            <key>btn_cancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,231},{146,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,52}}</string>
                <key>sourceSize</key>
                <string>{146,52}</string>
            </dict>
            <key>btn_cancel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,285},{146,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,52}}</string>
                <key>sourceSize</key>
                <string>{146,52}</string>
            </dict>
            <key>btn_ok_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,228},{146,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,52}}</string>
                <key>sourceSize</key>
                <string>{146,52}</string>
            </dict>
            <key>btn_ok_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,87},{146,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,52}}</string>
                <key>sourceSize</key>
                <string>{146,52}</string>
            </dict>
            <key>btn_ok_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,181},{146,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,52}}</string>
                <key>sourceSize</key>
                <string>{146,52}</string>
            </dict>
            <key>gun_my_pos_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,141},{150,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,38}}</string>
                <key>sourceSize</key>
                <string>{150,38}</string>
            </dict>
            <key>tool_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,231},{148,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,407}}</string>
                <key>sourceSize</key>
                <string>{148,407}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AtlasUnknowItems.png</string>
            <key>size</key>
            <string>{975,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8be5a8bb1d98605ee40dfd8ddd0a171a:9b475084de9de9840fba607163abd4af:51143d6d9cd486cc01ca67a27c6d71e6$</string>
            <key>textureFileName</key>
            <string>AtlasUnknowItems.png</string>
        </dict>
    </dict>
</plist>
