<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IMG_AVATAR_CONTAIER.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{844,262},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IMG_BG_NOTIFY_BAR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{778,29}</string>
                <key>spriteSourceSize</key>
                <string>{778,29}</string>
                <key>textureRect</key>
                <string>{{2,2},{778,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IMG_BG_NOTIFY_BAR_LOBBY.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{778,29}</string>
                <key>spriteSourceSize</key>
                <string>{778,29}</string>
                <key>textureRect</key>
                <string>{{2,2},{778,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IMG_BG_USERGOLD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,100}</string>
                <key>spriteSourceSize</key>
                <string>{385,100}</string>
                <key>textureRect</key>
                <string>{{392,2},{385,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IMG_BTN_CHEST_HOVER.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{496,262},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IMG_BTN_CHEST_NORMAL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{83,87}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{737,674},{83,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IMG_BTN_CHOINGAY.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,457}</string>
                <key>spriteSourceSize</key>
                <string>{353,457}</string>
                <key>textureRect</key>
                <string>{{35,2},{353,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IMG_BTN_CUAHANG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,101}</string>
                <key>spriteSourceSize</key>
                <string>{102,101}</string>
                <key>textureRect</key>
                <string>{{737,481},{102,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IMG_BTN_DOITHUOHNG_NORMAL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,107}</string>
                <key>spriteSourceSize</key>
                <string>{104,107}</string>
                <key>textureRect</key>
                <string>{{625,2},{104,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IMG_BTN_FANPAGE_NORMAL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,107}</string>
                <key>spriteSourceSize</key>
                <string>{104,107}</string>
                <key>textureRect</key>
                <string>{{625,110},{104,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IMG_BTN_HELP_HOVER.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{901,617},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IMG_BTN_HELP_NORMAL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{901,617},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IMG_BTN_HOPTHU_HOVER.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{901,693},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IMG_BTN_HOPTHU_NORMAL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{901,693},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IMG_BTN_MINIGAME.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,362}</string>
                <key>spriteSourceSize</key>
                <string>{285,362}</string>
                <key>textureRect</key>
                <string>{{448,391},{285,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IMG_BTN_MISSION.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,110}</string>
                <key>spriteSourceSize</key>
                <string>{104,110}</string>
                <key>textureRect</key>
                <string>{{844,406},{104,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IMG_BTN_NAPXU_NORMAL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{392,391},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IMG_BTN_PHONGVIP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,390}</string>
                <key>spriteSourceSize</key>
                <string>{295,390}</string>
                <key>textureRect</key>
                <string>{{35,463},{295,390}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IMG_BTN_RUONGDO_NORMAL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,101}</string>
                <key>spriteSourceSize</key>
                <string>{113,101}</string>
                <key>textureRect</key>
                <string>{{737,376},{103,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IMG_BTN_SETTING_HOVER.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{824,674},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IMG_BTN_SETTING_NORMAL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{824,674},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IMG_BTN_THOAT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,84}</string>
                <key>spriteSourceSize</key>
                <string>{102,84}</string>
                <key>textureRect</key>
                <string>{{737,586},{102,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IMG_BTN_TINTUC.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,109}</string>
                <key>spriteSourceSize</key>
                <string>{99,109}</string>
                <key>textureRect</key>
                <string>{{843,514},{99,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IMG_BTN_USERONLINE_NORMAL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{625,218},{104,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IMG_BTN_XEPHANG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,110}</string>
                <key>spriteSourceSize</key>
                <string>{105,110}</string>
                <key>textureRect</key>
                <string>{{735,262},{105,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IMG_LOADING.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{254,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{737,2},{254,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IMG_NOTIFYCATENEW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{35,762},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TEXT_EFFECT.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,25}</string>
                <key>spriteSourceSize</key>
                <string>{131,25}</string>
                <key>textureRect</key>
                <string>{{429,757},{131,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TEXT_SOUND.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,31}</string>
                <key>spriteSourceSize</key>
                <string>{124,31}</string>
                <key>textureRect</key>
                <string>{{496,2},{124,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBanBe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,121}</string>
                <key>spriteSourceSize</key>
                <string>{101,121}</string>
                <key>textureRect</key>
                <string>{{496,37},{101,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnTaiApp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,112}</string>
                <key>spriteSourceSize</key>
                <string>{101,112}</string>
                <key>textureRect</key>
                <string>{{496,142},{101,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AtlasButtonMenuGame.png</string>
            <key>size</key>
            <string>{993,784}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:081262918249a34c503873e0d3f79da2:df3385e60e5426533deae0b1bce2b209:68b1a30505987e68b76fa424d6277f8f$</string>
            <key>textureFileName</key>
            <string>AtlasButtonMenuGame.png</string>
        </dict>
    </dict>
</plist>
