<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>gold_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>gold_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,54}</string>
            </dict>
            <key>gold_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{62,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,44}}</string>
                <key>sourceSize</key>
                <string>{62,44}</string>
            </dict>
            <key>gold_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,64},{60,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,16}}</string>
                <key>sourceSize</key>
                <string>{60,16}</string>
            </dict>
            <key>gold_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{60,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,10}}</string>
                <key>sourceSize</key>
                <string>{60,10}</string>
            </dict>
            <key>gold_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,64},{60,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,16}}</string>
                <key>sourceSize</key>
                <string>{60,16}</string>
            </dict>
            <key>gold_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,64},{62,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,44}}</string>
                <key>sourceSize</key>
                <string>{62,44}</string>
            </dict>
            <key>gold_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,54}</string>
            </dict>
            <key>gold_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>gold_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,54}</string>
            </dict>
            <key>gold_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,64},{62,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,44}}</string>
                <key>sourceSize</key>
                <string>{62,44}</string>
            </dict>
            <key>gold_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,64},{60,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,16}}</string>
                <key>sourceSize</key>
                <string>{60,16}</string>
            </dict>
            <key>gold_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,110},{60,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,10}}</string>
                <key>sourceSize</key>
                <string>{60,10}</string>
            </dict>
            <key>gold_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,64},{60,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,10}}</string>
                <key>sourceSize</key>
                <string>{60,10}</string>
            </dict>
            <key>gold_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,64},{60,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,16}}</string>
                <key>sourceSize</key>
                <string>{60,16}</string>
            </dict>
            <key>gold_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,54}</string>
            </dict>
            <key>gold_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasGold.png</string>
            <key>size</key>
            <string>{512,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:238220bcb8f74112fb4535a9a834441a:ad5f7a0355d47f699c8b35c184ad18eb:7b2d645f669a19c5c151197c27056bc4$</string>
            <key>textureFileName</key>
            <string>AtlasGold.png</string>
        </dict>
    </dict>
</plist>
