<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>water1.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,533},{275,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,175}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>water10.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,533},{275,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,175}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>water11.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,533},{275,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,175}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>water12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{275,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,175}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>water13.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,356},{275,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,175}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>water14.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,356},{275,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,175}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>water15.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,356},{275,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,175}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>water16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{275,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,175}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>water2.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,179},{275,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,175}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>water3.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,179},{275,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,175}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>water4.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,179},{275,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,175}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>water5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{275,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,175}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>water6.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,2},{275,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,175}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>water7.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{275,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,175}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>water8.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{275,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,175}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>water9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{275,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,175}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>water.png</string>
            <key>size</key>
            <string>{1110,710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db1d0838d37dec5c00e78341dd802a12:b57ff465df9bc944b1f02c42773b083c:a72a08db099fa9898599289b7a5981b3$</string>
            <key>textureFileName</key>
            <string>water.png</string>
        </dict>
    </dict>
</plist>
