<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_VALUE_MONEY_GUN.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,92},{81,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,31}}</string>
                <key>sourceSize</key>
                <string>{81,31}</string>
            </dict>
            <key>BTN_CONG.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1260},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>BTN_TRU.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,984},{31,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,11}}</string>
                <key>sourceSize</key>
                <string>{31,11}</string>
            </dict>
            <key>BackgroundAvatarGunCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,270},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>IMG_ACTION_BG_DISABLE.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,910},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>IMG_ACTION_BG_NORMAL.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1141},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>IMG_ACTION_LINE.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,175},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>IMG_ARROW_HERE.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,916},{55,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,79}}</string>
                <key>sourceSize</key>
                <string>{55,79}</string>
            </dict>
            <key>IMG_BTN_ADD_FRIEND.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>IMG_BTN_CHAT.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1237},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,43}</string>
            </dict>
            <key>IMG_BTN_GIFT.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1236},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>IMG_BTN_INFO.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,68},{31,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,51}}</string>
                <key>sourceSize</key>
                <string>{31,51}</string>
            </dict>
            <key>IMG_CIRCLE_LINE_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,786},{213,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,118}}</string>
                <key>sourceSize</key>
                <string>{213,118}</string>
            </dict>
            <key>IMG_FIRE_EFFECT.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1143},{68,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,58}</string>
            </dict>
            <key>IMG_GUN_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,663},{140,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,111}}</string>
                <key>sourceSize</key>
                <string>{140,111}</string>
            </dict>
            <key>IMG_GUN_0_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,776},{127,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,152}}</string>
                <key>sourceSize</key>
                <string>{127,152}</string>
            </dict>
            <key>IMG_GUN_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1025},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>IMG_GUN_1_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,537},{183,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,160}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>IMG_GUN_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1124},{117,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,111}}</string>
                <key>sourceSize</key>
                <string>{117,111}</string>
            </dict>
            <key>IMG_GUN_2_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,359},{155,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,176}}</string>
                <key>sourceSize</key>
                <string>{155,176}</string>
            </dict>
            <key>IMG_GUN_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,997},{121,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,125}}</string>
                <key>sourceSize</key>
                <string>{121,125}</string>
            </dict>
            <key>IMG_GUN_3_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,726},{163,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,182}}</string>
                <key>sourceSize</key>
                <string>{163,182}</string>
            </dict>
            <key>IMG_GUN_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,905},{128,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,118}}</string>
                <key>sourceSize</key>
                <string>{128,118}</string>
            </dict>
            <key>IMG_GUN_4_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,726},{163,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,182}}</string>
                <key>sourceSize</key>
                <string>{163,182}</string>
            </dict>
            <key>IMG_GUN_BOME.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1001},{201,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,152}}</string>
                <key>sourceSize</key>
                <string>{201,152}</string>
            </dict>
            <key>IMG_GUN_BOME_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,175},{227,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,182}}</string>
                <key>sourceSize</key>
                <string>{227,182}</string>
            </dict>
            <key>IMG_GUN_ELECTRIC.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,357},{157,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,150}}</string>
                <key>sourceSize</key>
                <string>{157,150}</string>
            </dict>
            <key>IMG_GUN_ELECTRIC_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,359},{183,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,178}}</string>
                <key>sourceSize</key>
                <string>{183,178}</string>
            </dict>
            <key>IMG_GUN_LAZER.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,509},{143,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,152}}</string>
                <key>sourceSize</key>
                <string>{143,152}</string>
            </dict>
            <key>IMG_GUN_LAZER_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,175},{171,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,180}}</string>
                <key>sourceSize</key>
                <string>{171,180}</string>
            </dict>
            <key>IMG_PLAYERINFO_CONTAINER.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,539},{185,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,80}}</string>
                <key>sourceSize</key>
                <string>{185,80}</string>
            </dict>
            <key>IMG_PLAYERINFO_CONTAINER_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,539},{245,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,110}}</string>
                <key>sourceSize</key>
                <string>{245,110}</string>
            </dict>
            <key>IMG_SEAT.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1237},{91,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,43}}</string>
                <key>sourceSize</key>
                <string>{91,43}</string>
            </dict>
            <key>IMG_SKILL_NORMAL_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1025},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>IMG_SKILL_NORMAL_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1084},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>IMG_SKILL_NORMAL_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1203},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>IMG_SKILL_NORMAL_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,910},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>IMG_TEXT_PLAYER_HERE.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1260},{150,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,38}}</string>
                <key>sourceSize</key>
                <string>{150,38}</string>
            </dict>
            <key>LevelBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1204},{192,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,54}}</string>
                <key>sourceSize</key>
                <string>{192,54}</string>
            </dict>
            <key>MoneyBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,997},{194,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,44}}</string>
                <key>sourceSize</key>
                <string>{194,44}</string>
            </dict>
            <key>Trident_Glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{432,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,89}}</string>
                <key>sourceSize</key>
                <string>{432,89}</string>
            </dict>
            <key>Trident_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,92},{422,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,81}}</string>
                <key>sourceSize</key>
                <string>{422,81}</string>
            </dict>
            <key>UserNameBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,722},{192,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,54}}</string>
                <key>sourceSize</key>
                <string>{192,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AtlasGuns.png</string>
            <key>size</key>
            <string>{501,1299}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ceb07eb4dff06ed8351157fe3b605bdc:597dc5aa77938c8b2af8231ccae44a53:1c556f6807b54c405c6e9f22750a5441$</string>
            <key>textureFileName</key>
            <string>AtlasGuns.png</string>
        </dict>
    </dict>
</plist>
