<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{762,56}</string>
                <key>spriteSourceSize</key>
                <string>{762,56}</string>
                <key>textureRect</key>
                <string>{{0,0},{762,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{499,28}</string>
                <key>spriteSourceSize</key>
                <string>{499,28}</string>
                <key>textureRect</key>
                <string>{{0,56},{499,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AtlasLoading_1.png</string>
            <key>size</key>
            <string>{762,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee2fb2ab53ed55c439ddec9576a11353:fac82494a1870df48a985f3991c98c5c:731771bbef1f8b10c8b61f7757a81c25$</string>
            <key>textureFileName</key>
            <string>AtlasLoading_1.png</string>
        </dict>
    </dict>
</plist>
