<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>net_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,691},{108,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,110}}</string>
                <key>sourceSize</key>
                <string>{108,110}</string>
            </dict>
            <key>net_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,663},{136,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,132}}</string>
                <key>sourceSize</key>
                <string>{136,132}</string>
            </dict>
            <key>net_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,177},{178,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,116}}</string>
                <key>sourceSize</key>
                <string>{178,116}</string>
            </dict>
            <key>net_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,525},{184,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,120}}</string>
                <key>sourceSize</key>
                <string>{184,120}</string>
            </dict>
            <key>net_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,357},{188,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,124}}</string>
                <key>sourceSize</key>
                <string>{188,124}</string>
            </dict>
            <key>net_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,711},{114,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,84}}</string>
                <key>sourceSize</key>
                <string>{114,84}</string>
            </dict>
            <key>net_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1},{90,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,54}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>net_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,177},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>net_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,347},{176,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,174}}</string>
                <key>sourceSize</key>
                <string>{176,174}</string>
            </dict>
            <key>net_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1},{174,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,184}}</string>
                <key>sourceSize</key>
                <string>{174,184}</string>
            </dict>
            <key>net_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,173},{184,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,172}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>net_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{216,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,170}}</string>
                <key>sourceSize</key>
                <string>{216,170}</string>
            </dict>
            <key>net_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,355},{168,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,168}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>net_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,523},{168,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,166}}</string>
                <key>sourceSize</key>
                <string>{168,166}</string>
            </dict>
            <key>net_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,547},{176,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,114}}</string>
                <key>sourceSize</key>
                <string>{176,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Net.png</string>
            <key>size</key>
            <string>{482,800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c78d69d4302d40df9f45fb3ecc6a9aa3:3b712671da725dc8570949f75ca3ccb3:50d1ca6341bfd358eb06069d3f6796f0$</string>
            <key>textureFileName</key>
            <string>Net.png</string>
        </dict>
    </dict>
</plist>
