<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButtonCancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{708,581},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonLogin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,75}</string>
                <key>spriteSourceSize</key>
                <string>{211,75}</string>
                <key>textureRect</key>
                <string>{{2,581},{211,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonRefesh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,96}</string>
                <key>spriteSourceSize</key>
                <string>{91,96}</string>
                <key>textureRect</key>
                <string>{{840,2},{91,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButtonRegister.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,75}</string>
                <key>spriteSourceSize</key>
                <string>{211,75}</string>
                <key>textureRect</key>
                <string>{{217,581},{211,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FogotPasswordText.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,72}</string>
                <key>spriteSourceSize</key>
                <string>{272,72}</string>
                <key>textureRect</key>
                <string>{{432,581},{272,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgBubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{31,29}</string>
                <key>textureRect</key>
                <string>{{940,2},{31,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Popupbackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{820,575}</string>
                <key>spriteSourceSize</key>
                <string>{820,575}</string>
                <key>textureRect</key>
                <string>{{2,2},{820,575}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TexBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,54}</string>
                <key>spriteSourceSize</key>
                <string>{346,54}</string>
                <key>textureRect</key>
                <string>{{930,97},{346,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TitleLogin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{288,86}</string>
                <key>spriteSourceSize</key>
                <string>{288,86}</string>
                <key>textureRect</key>
                <string>{{840,97},{288,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TitleRegister.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,80}</string>
                <key>spriteSourceSize</key>
                <string>{224,80}</string>
                <key>textureRect</key>
                <string>{{840,389},{224,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TxtBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{60,303}</string>
                <key>textureRect</key>
                <string>{{776,581},{60,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AtlasPopupRegitLogin.png</string>
            <key>size</key>
            <string>{986,658}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50387a315bcdc8b80781c3c17ff71b85:72ac266954043e52ae70e079eadab039:212ff008b057ead3278ed227c6552cf6$</string>
            <key>textureFileName</key>
            <string>AtlasPopupRegitLogin.png</string>
        </dict>
    </dict>
</plist>
