<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,864},{163,119}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,43},{163,119}}</string>
                <key>sourceSize</key>
                <string>{193,209}</string>
            </dict>
            <key>10_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,864},{163,123}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,41},{163,123}}</string>
                <key>sourceSize</key>
                <string>{193,209}</string>
            </dict>
            <key>10_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{161,133}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,36},{161,133}}</string>
                <key>sourceSize</key>
                <string>{193,209}</string>
            </dict>
            <key>10_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,877},{163,111}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,47},{163,111}}</string>
                <key>sourceSize</key>
                <string>{193,209}</string>
            </dict>
            <key>10_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,665},{165,111}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,47},{165,111}}</string>
                <key>sourceSize</key>
                <string>{193,209}</string>
            </dict>
            <key>12_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,787},{164,88}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{164,88}}</string>
                <key>sourceSize</key>
                <string>{174,94}</string>
            </dict>
            <key>12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,724},{164,88}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{164,88}}</string>
                <key>sourceSize</key>
                <string>{174,94}</string>
            </dict>
            <key>12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,711},{168,74}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{168,74}}</string>
                <key>sourceSize</key>
                <string>{174,94}</string>
            </dict>
            <key>12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,778},{164,74}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{164,74}}</string>
                <key>sourceSize</key>
                <string>{174,94}</string>
            </dict>
            <key>13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,594},{141,105}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{141,105}}</string>
                <key>sourceSize</key>
                <string>{157,113}</string>
            </dict>
            <key>13_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,414},{143,105}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{143,105}}</string>
                <key>sourceSize</key>
                <string>{157,113}</string>
            </dict>
            <key>14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{183,125}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{183,125}}</string>
                <key>sourceSize</key>
                <string>{191,129}</string>
            </dict>
            <key>14_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{181,123}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{181,123}}</string>
                <key>sourceSize</key>
                <string>{191,129}</string>
            </dict>
            <key>14_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,428},{181,125}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{181,125}}</string>
                <key>sourceSize</key>
                <string>{191,129}</string>
            </dict>
            <key>14_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,79},{183,125}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{183,125}}</string>
                <key>sourceSize</key>
                <string>{191,129}</string>
            </dict>
            <key>14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{183,123}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{183,123}}</string>
                <key>sourceSize</key>
                <string>{191,129}</string>
            </dict>
            <key>14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,482},{181,119}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{181,119}}</string>
                <key>sourceSize</key>
                <string>{191,129}</string>
            </dict>
            <key>14_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{181,119}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{181,119}}</string>
                <key>sourceSize</key>
                <string>{191,129}</string>
            </dict>
            <key>14_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,378},{183,119}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{183,119}}</string>
                <key>sourceSize</key>
                <string>{191,129}</string>
            </dict>
            <key>14_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,359},{183,121}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{183,121}}</string>
                <key>sourceSize</key>
                <string>{191,129}</string>
            </dict>
            <key>14_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,303},{183,123}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{183,123}}</string>
                <key>sourceSize</key>
                <string>{191,129}</string>
            </dict>
            <key>3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,79},{96,59}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{96,59}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,140},{96,59}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{96,59}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{92,59}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{92,59}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,323},{94,59}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{94,59}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,384},{94,59}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{94,59}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,201},{96,59}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{96,59}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,262},{96,59}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{96,59}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,555},{93,96}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{93,96}}</string>
                <key>sourceSize</key>
                <string>{101,108}</string>
            </dict>
            <key>4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,445},{93,108}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{93,108}}</string>
                <key>sourceSize</key>
                <string>{101,108}</string>
            </dict>
            <key>8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,521},{143,71}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{143,71}}</string>
                <key>sourceSize</key>
                <string>{155,101}</string>
            </dict>
            <key>8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,877},{139,99}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{139,99}}</string>
                <key>sourceSize</key>
                <string>{155,101}</string>
            </dict>
            <key>8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,701},{141,99}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{141,99}}</string>
                <key>sourceSize</key>
                <string>{155,101}</string>
            </dict>
            <key>8_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,653},{141,69}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{141,69}}</string>
                <key>sourceSize</key>
                <string>{155,101}</string>
            </dict>
            <key>9_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{170,96}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{170,96}}</string>
                <key>sourceSize</key>
                <string>{182,124}</string>
            </dict>
            <key>9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,575},{170,88}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{170,88}}</string>
                <key>sourceSize</key>
                <string>{182,124}</string>
            </dict>
            <key>9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,603},{170,106}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{170,106}}</string>
                <key>sourceSize</key>
                <string>{182,124}</string>
            </dict>
            <key>VIP_11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,499},{181,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,74}}</string>
                <key>sourceSize</key>
                <string>{181,74}</string>
            </dict>
            <key>VIP_11_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,301},{184,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,75}}</string>
                <key>sourceSize</key>
                <string>{184,75}</string>
            </dict>
            <key>VIP_11_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{194,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,75}}</string>
                <key>sourceSize</key>
                <string>{194,75}</string>
            </dict>
            <key>VIP_11_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,75}}</string>
                <key>sourceSize</key>
                <string>{196,75}</string>
            </dict>
            <key>VIP_11_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{188,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,75}}</string>
                <key>sourceSize</key>
                <string>{188,75}</string>
            </dict>
            <key>VIP_11_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,205},{185,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,75}}</string>
                <key>sourceSize</key>
                <string>{185,75}</string>
            </dict>
            <key>VIP_11_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{187,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,75}}</string>
                <key>sourceSize</key>
                <string>{187,75}</string>
            </dict>
            <key>VIP_11_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{187,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,75}}</string>
                <key>sourceSize</key>
                <string>{187,75}</string>
            </dict>
            <key>VIP_11_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,282},{184,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,75}}</string>
                <key>sourceSize</key>
                <string>{184,75}</string>
            </dict>
            <key>VIP_13_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,802},{92,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,53}}</string>
                <key>sourceSize</key>
                <string>{92,53}</string>
            </dict>
            <key>VIP_13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,810},{93,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,53}}</string>
                <key>sourceSize</key>
                <string>{93,53}</string>
            </dict>
            <key>VIP_13_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,814},{93,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,52}}</string>
                <key>sourceSize</key>
                <string>{93,52}</string>
            </dict>
            <key>VIP_13_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,868},{92,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,52}}</string>
                <key>sourceSize</key>
                <string>{92,52}</string>
            </dict>
            <key>VIP_13_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,922},{92,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,52}}</string>
                <key>sourceSize</key>
                <string>{92,52}</string>
            </dict>
            <key>VIP_13_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,868},{92,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,53}}</string>
                <key>sourceSize</key>
                <string>{92,53}</string>
            </dict>
            <key>VIP_13_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,923},{91,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,52}}</string>
                <key>sourceSize</key>
                <string>{91,52}</string>
            </dict>
            <key>VIP_22_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,191},{186,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{186,108}}</string>
                <key>sourceSize</key>
                <string>{186,156}</string>
            </dict>
            <key>VIP_22_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,79},{186,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{186,120}}</string>
                <key>sourceSize</key>
                <string>{186,156}</string>
            </dict>
            <key>VIP_22_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,79},{186,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{186,124}}</string>
                <key>sourceSize</key>
                <string>{186,156}</string>
            </dict>
            <key>VIP_22_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,79},{186,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{186,110}}</string>
                <key>sourceSize</key>
                <string>{186,156}</string>
            </dict>
            <key>VIP_22_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,201},{186,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{186,100}}</string>
                <key>sourceSize</key>
                <string>{186,156}</string>
            </dict>
            <key>VIP_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,206},{158,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,102}}</string>
                <key>sourceSize</key>
                <string>{158,102}</string>
            </dict>
            <key>VIP_9_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,877},{162,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,102}}</string>
                <key>sourceSize</key>
                <string>{162,102}</string>
            </dict>
            <key>VIP_9_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,656},{168,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,102}}</string>
                <key>sourceSize</key>
                <string>{168,102}</string>
            </dict>
            <key>VIP_9_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,555},{171,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,99}}</string>
                <key>sourceSize</key>
                <string>{171,99}</string>
            </dict>
            <key>VIP_9_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,310},{156,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,102}}</string>
                <key>sourceSize</key>
                <string>{156,102}</string>
            </dict>
            <key>VIP_9_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,760},{165,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,102}}</string>
                <key>sourceSize</key>
                <string>{165,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasIFish_17.png</string>
            <key>size</key>
            <string>{1013,997}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ace0557bc834db379de0a10b0a0edf:18/19$</string>
            <key>textureFileName</key>
            <string>atlasIFish_17.png</string>
        </dict>
    </dict>
</plist>
