<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,230},{166,92}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{166,92}}</string>
                <key>sourceSize</key>
                <string>{174,102}</string>
            </dict>
            <key>12_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,324},{166,84}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{166,84}}</string>
                <key>sourceSize</key>
                <string>{174,94}</string>
            </dict>
            <key>21_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,378},{418,224}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,224}}</string>
                <key>sourceSize</key>
                <string>{424,224}</string>
            </dict>
            <key>21_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{422,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{422,218}}</string>
                <key>sourceSize</key>
                <string>{424,224}</string>
            </dict>
            <key>22_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,471},{60,125}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{60,125}}</string>
                <key>sourceSize</key>
                <string>{68,129}</string>
            </dict>
            <key>26_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,162}}</string>
                <key>offset</key>
                <string>{22,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,6},{428,162}}</string>
                <key>sourceSize</key>
                <string>{512,188}</string>
            </dict>
            <key>26_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{418,138}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,30},{418,138}}</string>
                <key>sourceSize</key>
                <string>{512,188}</string>
            </dict>
            <key>26_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{426,134}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,28},{426,134}}</string>
                <key>sourceSize</key>
                <string>{512,188}</string>
            </dict>
            <key>26_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{426,188}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{426,188}}</string>
                <key>sourceSize</key>
                <string>{512,188}</string>
            </dict>
            <key>26_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,192},{424,184}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,4},{424,184}}</string>
                <key>sourceSize</key>
                <string>{512,188}</string>
            </dict>
            <key>28_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{310,359}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,52},{310,359}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>28_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,662},{310,359}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,52},{310,359}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>28_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,661},{294,361}}</string>
                <key>offset</key>
                <string>{-3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,50},{294,361}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,410},{71,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,39}}</string>
                <key>sourceSize</key>
                <string>{73,41}</string>
            </dict>
            <key>3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,410},{100,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{100,59}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,604},{100,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{100,59}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,665},{100,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{100,59}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,870},{98,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{98,59}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,931},{98,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{98,59}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,726},{99,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{99,64}}</string>
                <key>sourceSize</key>
                <string>{101,108}</string>
            </dict>
            <key>5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,792},{99,37}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{99,37}}</string>
                <key>sourceSize</key>
                <string>{105,41}</string>
            </dict>
            <key>5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,831},{99,37}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{99,37}}</string>
                <key>sourceSize</key>
                <string>{105,41}</string>
            </dict>
            <key>9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,120},{162,108}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{162,108}}</string>
                <key>sourceSize</key>
                <string>{182,124}</string>
            </dict>
            <key>9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{162,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{162,116}}</string>
                <key>sourceSize</key>
                <string>{182,124}</string>
            </dict>
            <key>VIP_13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,604},{94,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,55}}</string>
                <key>sourceSize</key>
                <string>{94,55}</string>
            </dict>
            <key>VIP_13_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,604},{94,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,55}}</string>
                <key>sourceSize</key>
                <string>{94,55}</string>
            </dict>
            <key>VIP_13_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,604},{94,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,55}}</string>
                <key>sourceSize</key>
                <string>{94,55}</string>
            </dict>
            <key>VIP_13_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,604},{94,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,55}}</string>
                <key>sourceSize</key>
                <string>{94,55}</string>
            </dict>
            <key>VIP_13_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,604},{93,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,55}}</string>
                <key>sourceSize</key>
                <string>{93,55}</string>
            </dict>
            <key>VIP_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,471},{113,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,131}}</string>
                <key>sourceSize</key>
                <string>{113,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasIFish_3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ace0557bc834db379de0a10b0a0edf:4/19$</string>
            <key>textureFileName</key>
            <string>atlasIFish_3.png</string>
        </dict>
    </dict>
</plist>
