<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,994},{43,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{43,25}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,302},{45,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{45,23}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,377},{45,21}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{45,21}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,327},{45,23}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,23}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,400},{45,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{45,21}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,352},{45,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{45,23}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,423},{43,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{43,27}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,896},{166,96}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{166,96}}</string>
                <key>sourceSize</key>
                <string>{174,102}</string>
            </dict>
            <key>17_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,896},{199,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,44},{199,126}}</string>
                <key>sourceSize</key>
                <string>{201,216}</string>
            </dict>
            <key>1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,490},{55,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{55,46}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,440},{55,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{55,48}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>20_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,706},{366,188}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{366,188}}</string>
                <key>sourceSize</key>
                <string>{388,192}</string>
            </dict>
            <key>22_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,452},{60,125}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{60,125}}</string>
                <key>sourceSize</key>
                <string>{68,129}</string>
            </dict>
            <key>22_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,579},{60,125}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{60,125}}</string>
                <key>sourceSize</key>
                <string>{68,129}</string>
            </dict>
            <key>26_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{474,138}}</string>
                <key>offset</key>
                <string>{19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{474,138}}</string>
                <key>sourceSize</key>
                <string>{512,188}</string>
            </dict>
            <key>26_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,442},{446,162}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{446,162}}</string>
                <key>sourceSize</key>
                <string>{512,188}</string>
            </dict>
            <key>26_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{452,164}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{452,164}}</string>
                <key>sourceSize</key>
                <string>{512,188}</string>
            </dict>
            <key>26_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{504,146}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{504,146}}</string>
                <key>sourceSize</key>
                <string>{512,188}</string>
            </dict>
            <key>26_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,156}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{510,156}}</string>
                <key>sourceSize</key>
                <string>{512,188}</string>
            </dict>
            <key>26_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,150},{492,150}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{492,150}}</string>
                <key>sourceSize</key>
                <string>{512,188}</string>
            </dict>
            <key>26_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{472,138}}</string>
                <key>offset</key>
                <string>{20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{472,138}}</string>
                <key>sourceSize</key>
                <string>{512,188}</string>
            </dict>
            <key>26_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,302},{458,138}}</string>
                <key>offset</key>
                <string>{27,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,28},{458,138}}</string>
                <key>sourceSize</key>
                <string>{512,188}</string>
            </dict>
            <key>28_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{324,411}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,411}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>28_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,606},{324,409}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,409}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>VIP_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,160},{34,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,68}}</string>
                <key>sourceSize</key>
                <string>{34,68}</string>
            </dict>
            <key>VIP_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,300},{36,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,68}}</string>
                <key>sourceSize</key>
                <string>{36,68}</string>
            </dict>
            <key>VIP_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,230},{34,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,68}}</string>
                <key>sourceSize</key>
                <string>{34,68}</string>
            </dict>
            <key>VIP_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,370},{36,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,68}}</string>
                <key>sourceSize</key>
                <string>{36,68}</string>
            </dict>
            <key>VIP_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,538},{36,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,66}}</string>
                <key>sourceSize</key>
                <string>{36,66}</string>
            </dict>
            <key>VIP_22_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,606},{186,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{186,98}}</string>
                <key>sourceSize</key>
                <string>{186,156}</string>
            </dict>
            <key>VIP_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,606},{112,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,98}}</string>
                <key>sourceSize</key>
                <string>{112,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasIFish_0.png</string>
            <key>size</key>
            <string>{1023,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ace0557bc834db379de0a10b0a0edf:1/19$</string>
            <key>textureFileName</key>
            <string>atlasIFish_0.png</string>
        </dict>
    </dict>
</plist>
