<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,149},{159,157}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{159,157}}</string>
                <key>sourceSize</key>
                <string>{193,209}</string>
            </dict>
            <key>10_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{163,145}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{163,145}}</string>
                <key>sourceSize</key>
                <string>{193,209}</string>
            </dict>
            <key>13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,383},{131,111}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{131,111}}</string>
                <key>sourceSize</key>
                <string>{157,113}</string>
            </dict>
            <key>13_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,527},{131,99}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{131,99}}</string>
                <key>sourceSize</key>
                <string>{157,113}</string>
            </dict>
            <key>17_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,647},{199,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,51},{199,114}}</string>
                <key>sourceSize</key>
                <string>{201,216}</string>
            </dict>
            <key>17_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,758},{199,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,46},{199,124}}</string>
                <key>sourceSize</key>
                <string>{201,216}</string>
            </dict>
            <key>17_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{199,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,33},{199,150}}</string>
                <key>sourceSize</key>
                <string>{201,216}</string>
            </dict>
            <key>23_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,196},{203,188}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{203,188}}</string>
                <key>sourceSize</key>
                <string>{205,192}</string>
            </dict>
            <key>23_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{203,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{203,192}}</string>
                <key>sourceSize</key>
                <string>{205,192}</string>
            </dict>
            <key>23_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,192}}</string>
                <key>sourceSize</key>
                <string>{205,192}</string>
            </dict>
            <key>23_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{205,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,192}}</string>
                <key>sourceSize</key>
                <string>{205,192}</string>
            </dict>
            <key>23_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{203,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{203,190}}</string>
                <key>sourceSize</key>
                <string>{205,192}</string>
            </dict>
            <key>29_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,198},{187,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,183}}</string>
                <key>sourceSize</key>
                <string>{187,183}</string>
            </dict>
            <key>29_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{189,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,185}}</string>
                <key>sourceSize</key>
                <string>{189,185}</string>
            </dict>
            <key>29_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{194,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,194}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,839},{94,59}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{94,59}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,921},{95,96}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{95,96}}</string>
                <key>sourceSize</key>
                <string>{101,108}</string>
            </dict>
            <key>4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,921},{101,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{101,92}}</string>
                <key>sourceSize</key>
                <string>{101,108}</string>
            </dict>
            <key>5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,900},{97,37}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{97,37}}</string>
                <key>sourceSize</key>
                <string>{105,41}</string>
            </dict>
            <key>5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,978},{97,35}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{97,35}}</string>
                <key>sourceSize</key>
                <string>{105,41}</string>
            </dict>
            <key>5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,939},{97,37}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{97,37}}</string>
                <key>sourceSize</key>
                <string>{105,41}</string>
            </dict>
            <key>7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,767},{110,70}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{110,70}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>VIP_11_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,454},{202,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,75}}</string>
                <key>sourceSize</key>
                <string>{202,75}</string>
            </dict>
            <key>VIP_11_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,763},{199,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,75}}</string>
                <key>sourceSize</key>
                <string>{199,75}</string>
            </dict>
            <key>VIP_11_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,840},{199,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,75}}</string>
                <key>sourceSize</key>
                <string>{199,75}</string>
            </dict>
            <key>VIP_11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,884},{201,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,75}}</string>
                <key>sourceSize</key>
                <string>{201,75}</string>
            </dict>
            <key>VIP_11_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,917},{197,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,74}}</string>
                <key>sourceSize</key>
                <string>{197,74}</string>
            </dict>
            <key>VIP_13_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,961},{94,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,53}}</string>
                <key>sourceSize</key>
                <string>{94,53}</string>
            </dict>
            <key>VIP_13_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,961},{94,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,53}}</string>
                <key>sourceSize</key>
                <string>{94,53}</string>
            </dict>
            <key>VIP_22_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,308},{182,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{182,144}}</string>
                <key>sourceSize</key>
                <string>{186,156}</string>
            </dict>
            <key>VIP_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,647},{110,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,118}}</string>
                <key>sourceSize</key>
                <string>{110,118}</string>
            </dict>
            <key>VIP_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,516},{225,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,127}}</string>
                <key>sourceSize</key>
                <string>{225,127}</string>
            </dict>
            <key>VIP_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,402},{225,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,123}}</string>
                <key>sourceSize</key>
                <string>{225,123}</string>
            </dict>
            <key>VIP_6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,645},{223,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,122}}</string>
                <key>sourceSize</key>
                <string>{223,122}</string>
            </dict>
            <key>VIP_6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,769},{225,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,124}}</string>
                <key>sourceSize</key>
                <string>{225,124}</string>
            </dict>
            <key>VIP_6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,386},{226,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,128}}</string>
                <key>sourceSize</key>
                <string>{226,128}</string>
            </dict>
            <key>VIP_6_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,137},{225,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,132}}</string>
                <key>sourceSize</key>
                <string>{225,132}</string>
            </dict>
            <key>VIP_6_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,271},{226,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,129}}</string>
                <key>sourceSize</key>
                <string>{226,129}</string>
            </dict>
            <key>VIP_6_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{225,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,133}}</string>
                <key>sourceSize</key>
                <string>{225,133}</string>
            </dict>
            <key>VIP_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,895},{221,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,116}}</string>
                <key>sourceSize</key>
                <string>{221,116}</string>
            </dict>
            <key>VIP_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,527},{221,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,114}}</string>
                <key>sourceSize</key>
                <string>{221,114}</string>
            </dict>
            <key>VIP_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,643},{220,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,113}}</string>
                <key>sourceSize</key>
                <string>{220,113}</string>
            </dict>
            <key>VIP_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,531},{220,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,114}}</string>
                <key>sourceSize</key>
                <string>{220,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasIFish_16.png</string>
            <key>size</key>
            <string>{1015,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ace0557bc834db379de0a10b0a0edf:17/19$</string>
            <key>textureFileName</key>
            <string>atlasIFish_16.png</string>
        </dict>
    </dict>
</plist>
