<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,368},{162,92}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{162,92}}</string>
                <key>sourceSize</key>
                <string>{174,102}</string>
            </dict>
            <key>13_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,705},{131,111}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{131,111}}</string>
                <key>sourceSize</key>
                <string>{157,113}</string>
            </dict>
            <key>15_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{191,264}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{191,264}}</string>
                <key>sourceSize</key>
                <string>{201,266}</string>
            </dict>
            <key>15_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,726},{191,264}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{191,264}}</string>
                <key>sourceSize</key>
                <string>{201,266}</string>
            </dict>
            <key>15_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,465},{195,238}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{195,238}}</string>
                <key>sourceSize</key>
                <string>{201,266}</string>
            </dict>
            <key>15_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,724},{195,262}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{195,262}}</string>
                <key>sourceSize</key>
                <string>{201,266}</string>
            </dict>
            <key>17_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,818},{199,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{199,202}}</string>
                <key>sourceSize</key>
                <string>{201,216}</string>
            </dict>
            <key>17_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,844},{199,178}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{199,178}}</string>
                <key>sourceSize</key>
                <string>{201,216}</string>
            </dict>
            <key>20_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,182},{310,184}}</string>
                <key>offset</key>
                <string>{35,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,4},{310,184}}</string>
                <key>sourceSize</key>
                <string>{388,192}</string>
            </dict>
            <key>20_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{332,178}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,7},{332,178}}</string>
                <key>sourceSize</key>
                <string>{388,192}</string>
            </dict>
            <key>28_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,361}}</string>
                <key>offset</key>
                <string>{-39,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,50},{220,361}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>28_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{308,359}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,52},{308,359}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>28_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{220,359}}</string>
                <key>offset</key>
                <string>{-40,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,52},{220,359}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>28_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{232,357}}</string>
                <key>offset</key>
                <string>{-46,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{232,357}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>28_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,363},{210,359}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,52},{210,359}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,730},{112,72}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{112,72}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>9_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,368},{172,114}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{172,114}}</string>
                <key>sourceSize</key>
                <string>{182,124}</string>
            </dict>
            <key>VIP_11_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,768},{190,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,74}}</string>
                <key>sourceSize</key>
                <string>{190,74}</string>
            </dict>
            <key>VIP_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,844},{35,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,68}}</string>
                <key>sourceSize</key>
                <string>{35,68}</string>
            </dict>
            <key>VIP_1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,914},{35,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,68}}</string>
                <key>sourceSize</key>
                <string>{35,68}</string>
            </dict>
            <key>VIP_22_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,484},{186,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{186,148}}</string>
                <key>sourceSize</key>
                <string>{186,156}</string>
            </dict>
            <key>VIP_22_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,634},{186,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{186,132}}</string>
                <key>sourceSize</key>
                <string>{186,156}</string>
            </dict>
            <key>VIP_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,597},{113,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,131}}</string>
                <key>sourceSize</key>
                <string>{113,131}</string>
            </dict>
            <key>VIP_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,462},{113,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,133}}</string>
                <key>sourceSize</key>
                <string>{113,133}</string>
            </dict>
            <key>VIP_9_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,361},{154,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,102}}</string>
                <key>sourceSize</key>
                <string>{154,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasIFish_12.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ace0557bc834db379de0a10b0a0edf:13/19$</string>
            <key>textureFileName</key>
            <string>atlasIFish_12.png</string>
        </dict>
    </dict>
</plist>
