<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{168,98}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{168,98}}</string>
                <key>sourceSize</key>
                <string>{174,102}</string>
            </dict>
            <key>16_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,377},{239,349}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{239,349}}</string>
                <key>sourceSize</key>
                <string>{251,383}</string>
            </dict>
            <key>16_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,2},{227,373}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{227,373}}</string>
                <key>sourceSize</key>
                <string>{251,383}</string>
            </dict>
            <key>16_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,728},{237,293}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,47},{237,293}}</string>
                <key>sourceSize</key>
                <string>{251,383}</string>
            </dict>
            <key>19_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{397,172}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{397,172}}</string>
                <key>sourceSize</key>
                <string>{407,178}</string>
            </dict>
            <key>1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,966},{57,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{57,44}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>21_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{392,214}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{392,214}}</string>
                <key>sourceSize</key>
                <string>{424,224}</string>
            </dict>
            <key>24_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{388,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,185}}</string>
                <key>sourceSize</key>
                <string>{388,185}</string>
            </dict>
            <key>24_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,218},{388,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,185}}</string>
                <key>sourceSize</key>
                <string>{388,185}</string>
            </dict>
            <key>24_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{388,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,185}}</string>
                <key>sourceSize</key>
                <string>{388,185}</string>
            </dict>
            <key>24_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,405},{388,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,185}}</string>
                <key>sourceSize</key>
                <string>{388,185}</string>
            </dict>
            <key>24_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{388,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,185}}</string>
                <key>sourceSize</key>
                <string>{388,185}</string>
            </dict>
            <key>24_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,592},{388,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,185}}</string>
                <key>sourceSize</key>
                <string>{388,185}</string>
            </dict>
            <key>24_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{388,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,185}}</string>
                <key>sourceSize</key>
                <string>{388,185}</string>
            </dict>
            <key>24_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,779},{388,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,185}}</string>
                <key>sourceSize</key>
                <string>{388,185}</string>
            </dict>
            <key>9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,924},{164,98}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{164,98}}</string>
                <key>sourceSize</key>
                <string>{182,124}</string>
            </dict>
            <key>VIP_13_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,966},{94,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,54}}</string>
                <key>sourceSize</key>
                <string>{94,54}</string>
            </dict>
            <key>VIP_13_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,966},{94,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,54}}</string>
                <key>sourceSize</key>
                <string>{94,54}</string>
            </dict>
            <key>VIP_13_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,966},{94,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,53}}</string>
                <key>sourceSize</key>
                <string>{94,53}</string>
            </dict>
            <key>VIP_13_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,966},{93,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,54}}</string>
                <key>sourceSize</key>
                <string>{93,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasIFish_6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ace0557bc834db379de0a10b0a0edf:7/19$</string>
            <key>textureFileName</key>
            <string>atlasIFish_6.png</string>
        </dict>
    </dict>
</plist>
