<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,766},{159,195}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{159,195}}</string>
                <key>sourceSize</key>
                <string>{193,209}</string>
            </dict>
            <key>13_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,168},{151,111}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{151,111}}</string>
                <key>sourceSize</key>
                <string>{157,113}</string>
            </dict>
            <key>13_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,488},{149,97}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{149,97}}</string>
                <key>sourceSize</key>
                <string>{157,113}</string>
            </dict>
            <key>13_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{141,93}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{141,93}}</string>
                <key>sourceSize</key>
                <string>{157,113}</string>
            </dict>
            <key>13_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,290},{131,93}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{131,93}}</string>
                <key>sourceSize</key>
                <string>{157,113}</string>
            </dict>
            <key>15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{193,252}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{193,252}}</string>
                <key>sourceSize</key>
                <string>{201,266}</string>
            </dict>
            <key>15_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,770},{195,248}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{195,248}}</string>
                <key>sourceSize</key>
                <string>{201,266}</string>
            </dict>
            <key>15_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,766},{195,256}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{195,256}}</string>
                <key>sourceSize</key>
                <string>{201,266}</string>
            </dict>
            <key>16_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{227,383}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{227,383}}</string>
                <key>sourceSize</key>
                <string>{251,383}</string>
            </dict>
            <key>16_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,797},{233,225}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,90},{233,225}}</string>
                <key>sourceSize</key>
                <string>{251,383}</string>
            </dict>
            <key>1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,587},{55,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{55,46}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>22_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,520},{58,123}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{58,123}}</string>
                <key>sourceSize</key>
                <string>{68,129}</string>
            </dict>
            <key>22_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,520},{64,121}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{64,121}}</string>
                <key>sourceSize</key>
                <string>{68,129}</string>
            </dict>
            <key>26_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,144}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{434,144}}</string>
                <key>sourceSize</key>
                <string>{512,188}</string>
            </dict>
            <key>26_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{432,140}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{432,140}}</string>
                <key>sourceSize</key>
                <string>{512,188}</string>
            </dict>
            <key>26_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,148},{432,140}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,31},{432,140}}</string>
                <key>sourceSize</key>
                <string>{512,188}</string>
            </dict>
            <key>26_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{434,144}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,25},{434,144}}</string>
                <key>sourceSize</key>
                <string>{512,188}</string>
            </dict>
            <key>28_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,385},{294,379}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,379}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>28_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,290},{214,353}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,58},{214,353}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,384},{114,66}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{114,66}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,452},{114,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{114,66}}</string>
                <key>sourceSize</key>
                <string>{122,78}</string>
            </dict>
            <key>8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,963},{137,59}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{137,59}}</string>
                <key>sourceSize</key>
                <string>{155,101}</string>
            </dict>
            <key>8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,87},{147,79}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{147,79}}</string>
                <key>sourceSize</key>
                <string>{155,101}</string>
            </dict>
            <key>8_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{147,83}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{147,83}}</string>
                <key>sourceSize</key>
                <string>{155,101}</string>
            </dict>
            <key>VIP_13_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,587},{94,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,55}}</string>
                <key>sourceSize</key>
                <string>{94,55}</string>
            </dict>
            <key>VIP_15_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,645},{270,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,150}}</string>
                <key>sourceSize</key>
                <string>{270,150}</string>
            </dict>
            <key>VIP_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,797},{35,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,68}}</string>
                <key>sourceSize</key>
                <string>{35,68}</string>
            </dict>
            <key>VIP_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,867},{35,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,68}}</string>
                <key>sourceSize</key>
                <string>{35,68}</string>
            </dict>
            <key>VIP_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,937},{35,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,68}}</string>
                <key>sourceSize</key>
                <string>{35,68}</string>
            </dict>
            <key>VIP_22_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,290},{186,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{186,92}}</string>
                <key>sourceSize</key>
                <string>{186,156}</string>
            </dict>
            <key>VIP_22_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,290},{186,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{186,92}}</string>
                <key>sourceSize</key>
                <string>{186,156}</string>
            </dict>
            <key>VIP_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,645},{223,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,119}}</string>
                <key>sourceSize</key>
                <string>{223,119}</string>
            </dict>
            <key>VIP_9_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,281},{151,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,102}}</string>
                <key>sourceSize</key>
                <string>{151,102}</string>
            </dict>
            <key>VIP_9_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,385},{150,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,101}}</string>
                <key>sourceSize</key>
                <string>{150,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasIFish_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ace0557bc834db379de0a10b0a0edf:3/19$</string>
            <key>textureFileName</key>
            <string>atlasIFish_2.png</string>
        </dict>
    </dict>
</plist>
