<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>te_thien_walking_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{222,350}}</string>
                <key>offset</key>
                <string>{36,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,120},{222,350}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,330}}</string>
                <key>offset</key>
                <string>{-53,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,139},{340,330}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{310,318}}</string>
                <key>offset</key>
                <string>{-35,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,148},{310,318}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,488},{226,332}}</string>
                <key>offset</key>
                <string>{9,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,136},{226,332}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,462},{206,336}}</string>
                <key>offset</key>
                <string>{19,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,134},{206,336}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,242},{274,244}}</string>
                <key>offset</key>
                <string>{-20,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,226},{274,244}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{286,238}}</string>
                <key>offset</key>
                <string>{-25,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,230},{286,238}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,226},{234,336}}</string>
                <key>offset</key>
                <string>{28,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,134},{234,336}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_boss_te_thien3.png</string>
            <key>size</key>
            <string>{986,716}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b98518a5ee4d756cfb1a0a9f59bc4b7e:3bf2b409006aafb463c6aaf0ce5de183:03d9c639f3486f801687f38d6216bc08$</string>
            <key>textureFileName</key>
            <string>atlas_boss_te_thien3.png</string>
        </dict>
    </dict>
</plist>
