<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baton.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,354},{373,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,29}}</string>
                <key>sourceSize</key>
                <string>{373,29}</string>
            </dict>
            <key>te_thien_walking_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{408,340}}</string>
                <key>offset</key>
                <string>{-85,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,129},{408,340}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{252,328}}</string>
                <key>offset</key>
                <string>{-9,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,141},{252,328}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,592},{192,388}}</string>
                <key>offset</key>
                <string>{26,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,82},{192,388}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,396}}</string>
                <key>offset</key>
                <string>{43,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,73},{410,396}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{350,416}}</string>
                <key>offset</key>
                <string>{114,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,51},{350,416}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,330},{188,260}}</string>
                <key>offset</key>
                <string>{23,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,210},{188,260}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,354},{380,366}}</string>
                <key>offset</key>
                <string>{-72,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,102},{380,366}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,722},{284,328}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,138},{284,328}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{190,326}}</string>
                <key>offset</key>
                <string>{23,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,141},{190,326}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_boss_te_thien0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b98518a5ee4d756cfb1a0a9f59bc4b7e:3bf2b409006aafb463c6aaf0ce5de183:03d9c639f3486f801687f38d6216bc08$</string>
            <key>textureFileName</key>
            <string>atlas_boss_te_thien0.png</string>
        </dict>
    </dict>
</plist>
