<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,324},{157,207}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{157,207}}</string>
                <key>sourceSize</key>
                <string>{193,209}</string>
            </dict>
            <key>12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,189},{168,82}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{168,82}}</string>
                <key>sourceSize</key>
                <string>{174,94}</string>
            </dict>
            <key>15_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,755},{193,264}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{193,264}}</string>
                <key>sourceSize</key>
                <string>{201,266}</string>
            </dict>
            <key>16_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{235,375}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{235,375}}</string>
                <key>sourceSize</key>
                <string>{251,383}</string>
            </dict>
            <key>16_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,424},{235,329}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{235,329}}</string>
                <key>sourceSize</key>
                <string>{251,383}</string>
            </dict>
            <key>16_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{239,271}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{239,271}}</string>
                <key>sourceSize</key>
                <string>{251,383}</string>
            </dict>
            <key>17_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,273},{197,216}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{197,216}}</string>
                <key>sourceSize</key>
                <string>{201,216}</string>
            </dict>
            <key>24_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,185}}</string>
                <key>sourceSize</key>
                <string>{388,185}</string>
            </dict>
            <key>24_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{388,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,185}}</string>
                <key>sourceSize</key>
                <string>{388,185}</string>
            </dict>
            <key>24_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,755},{388,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,185}}</string>
                <key>sourceSize</key>
                <string>{388,185}</string>
            </dict>
            <key>25_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,189},{339,133}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{339,133}}</string>
                <key>sourceSize</key>
                <string>{365,187}</string>
            </dict>
            <key>28_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,652},{202,363}}</string>
                <key>offset</key>
                <string>{-19,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,48},{202,363}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>28_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{230,363}}</string>
                <key>offset</key>
                <string>{-24,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,48},{230,363}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>29_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,491},{179,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,158}}</string>
                <key>sourceSize</key>
                <string>{179,158}</string>
            </dict>
            <key>29_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,324},{180,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,162}}</string>
                <key>sourceSize</key>
                <string>{180,162}</string>
            </dict>
            <key>29_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,491},{179,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,159}}</string>
                <key>sourceSize</key>
                <string>{179,159}</string>
            </dict>
            <key>4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,189},{97,78}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{97,78}}</string>
                <key>sourceSize</key>
                <string>{101,108}</string>
            </dict>
            <key>4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,651},{101,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,108}</string>
            </dict>
            <key>9_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,533},{170,116}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{170,116}}</string>
                <key>sourceSize</key>
                <string>{182,124}</string>
            </dict>
            <key>VIP_11_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,942},{181,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,74}}</string>
                <key>sourceSize</key>
                <string>{181,74}</string>
            </dict>
            <key>VIP_11_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,942},{205,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,76}}</string>
                <key>sourceSize</key>
                <string>{205,76}</string>
            </dict>
            <key>VIP_15_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,275},{237,147}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,147}}</string>
                <key>sourceSize</key>
                <string>{239,149}</string>
            </dict>
            <key>VIP_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,651},{36,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,68}}</string>
                <key>sourceSize</key>
                <string>{36,68}</string>
            </dict>
            <key>VIP_1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,189},{36,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,68}}</string>
                <key>sourceSize</key>
                <string>{36,68}</string>
            </dict>
            <key>VIP_22_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,651},{186,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{186,102}}</string>
                <key>sourceSize</key>
                <string>{186,156}</string>
            </dict>
            <key>VIP_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{113,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,84}}</string>
                <key>sourceSize</key>
                <string>{113,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasIFish_7.png</string>
            <key>size</key>
            <string>{1023,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ace0557bc834db379de0a10b0a0edf:8/19$</string>
            <key>textureFileName</key>
            <string>atlasIFish_7.png</string>
        </dict>
    </dict>
</plist>
