<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,973},{55,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{55,44}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>20_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{386,188}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{386,188}}</string>
                <key>sourceSize</key>
                <string>{388,192}</string>
            </dict>
            <key>20_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,198},{386,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{386,192}}</string>
                <key>sourceSize</key>
                <string>{388,192}</string>
            </dict>
            <key>21_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{382,224}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{382,224}}</string>
                <key>sourceSize</key>
                <string>{424,224}</string>
            </dict>
            <key>22_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,918},{68,103}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{68,103}}</string>
                <key>sourceSize</key>
                <string>{68,129}</string>
            </dict>
            <key>24_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,185}}</string>
                <key>sourceSize</key>
                <string>{388,185}</string>
            </dict>
            <key>28_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,365},{232,359}}</string>
                <key>offset</key>
                <string>{-46,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{232,359}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>28_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{234,361}}</string>
                <key>offset</key>
                <string>{-28,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,50},{234,361}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,879},{71,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{73,41}</string>
            </dict>
            <key>2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,973},{69,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{69,39}}</string>
                <key>sourceSize</key>
                <string>{73,41}</string>
            </dict>
            <key>36_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,392},{385,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,192}}</string>
                <key>sourceSize</key>
                <string>{385,192}</string>
            </dict>
            <key>36_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{386,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,194}}</string>
                <key>sourceSize</key>
                <string>{386,194}</string>
            </dict>
            <key>36_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{383,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,191}}</string>
                <key>sourceSize</key>
                <string>{383,191}</string>
            </dict>
            <key>36_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{386,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,194}}</string>
                <key>sourceSize</key>
                <string>{386,194}</string>
            </dict>
            <key>36_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,586},{383,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,191}}</string>
                <key>sourceSize</key>
                <string>{383,191}</string>
            </dict>
            <key>36_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,779},{382,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,194}}</string>
                <key>sourceSize</key>
                <string>{382,194}</string>
            </dict>
            <key>6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,975},{104,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,46}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
            <key>6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,975},{104,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{104,44}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
            <key>6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,975},{104,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{104,44}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
            <key>6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,975},{104,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,46}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
            <key>9_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,879},{172,92}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{172,92}}</string>
                <key>sourceSize</key>
                <string>{182,124}</string>
            </dict>
            <key>VIP_15_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,726},{247,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,151}}</string>
                <key>sourceSize</key>
                <string>{247,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasIFish_8.png</string>
            <key>size</key>
            <string>{1021,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ace0557bc834db379de0a10b0a0edf:9/19$</string>
            <key>textureFileName</key>
            <string>atlasIFish_8.png</string>
        </dict>
    </dict>
</plist>
