<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,831},{161,191}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{161,191}}</string>
                <key>sourceSize</key>
                <string>{193,209}</string>
            </dict>
            <key>13_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,863},{143,111}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{143,111}}</string>
                <key>sourceSize</key>
                <string>{157,113}</string>
            </dict>
            <key>20_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,831},{332,190}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{332,190}}</string>
                <key>sourceSize</key>
                <string>{388,192}</string>
            </dict>
            <key>21_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,224},{362,224}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{362,224}}</string>
                <key>sourceSize</key>
                <string>{424,224}</string>
            </dict>
            <key>21_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{370,218}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,3},{370,218}}</string>
                <key>sourceSize</key>
                <string>{424,224}</string>
            </dict>
            <key>25_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,708},{331,153}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{331,153}}</string>
                <key>sourceSize</key>
                <string>{365,187}</string>
            </dict>
            <key>27_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{357,127}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{357,127}}</string>
                <key>sourceSize</key>
                <string>{373,175}</string>
            </dict>
            <key>27_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,450},{357,127}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{357,127}}</string>
                <key>sourceSize</key>
                <string>{373,175}</string>
            </dict>
            <key>27_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{357,127}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{357,127}}</string>
                <key>sourceSize</key>
                <string>{373,175}</string>
            </dict>
            <key>27_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,579},{357,127}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{357,127}}</string>
                <key>sourceSize</key>
                <string>{373,175}</string>
            </dict>
            <key>27_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{357,127}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{357,127}}</string>
                <key>sourceSize</key>
                <string>{373,175}</string>
            </dict>
            <key>29_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,863},{179,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,157}}</string>
                <key>sourceSize</key>
                <string>{179,157}</string>
            </dict>
            <key>29_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{190,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,191}}</string>
                <key>sourceSize</key>
                <string>{190,191}</string>
            </dict>
            <key>36_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{371,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,220}}</string>
                <key>sourceSize</key>
                <string>{371,220}</string>
            </dict>
            <key>36_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{371,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,220}}</string>
                <key>sourceSize</key>
                <string>{371,220}</string>
            </dict>
            <key>4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,708},{101,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{101,92}}</string>
                <key>sourceSize</key>
                <string>{101,108}</string>
            </dict>
            <key>6_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,976},{104,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{104,40}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
            <key>VIP_14_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,140},{273,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,135}}</string>
                <key>sourceSize</key>
                <string>{273,135}</string>
            </dict>
            <key>VIP_14_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,414},{273,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,134}}</string>
                <key>sourceSize</key>
                <string>{273,134}</string>
            </dict>
            <key>VIP_14_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,550},{273,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,134}}</string>
                <key>sourceSize</key>
                <string>{273,134}</string>
            </dict>
            <key>VIP_14_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{273,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,136}}</string>
                <key>sourceSize</key>
                <string>{273,136}</string>
            </dict>
            <key>VIP_14_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,277},{273,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,135}}</string>
                <key>sourceSize</key>
                <string>{273,135}</string>
            </dict>
            <key>VIP_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,708},{224,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,121}}</string>
                <key>sourceSize</key>
                <string>{224,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasIFish_10.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ace0557bc834db379de0a10b0a0edf:11/19$</string>
            <key>textureFileName</key>
            <string>atlasIFish_10.png</string>
        </dict>
    </dict>
</plist>
