<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>19_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{405,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{405,178}}</string>
                <key>sourceSize</key>
                <string>{407,178}</string>
            </dict>
            <key>19_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,170},{403,178}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{403,178}}</string>
                <key>sourceSize</key>
                <string>{407,178}</string>
            </dict>
            <key>19_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{399,178}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{399,178}}</string>
                <key>sourceSize</key>
                <string>{407,178}</string>
            </dict>
            <key>19_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{401,174}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{401,174}}</string>
                <key>sourceSize</key>
                <string>{407,178}</string>
            </dict>
            <key>19_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{405,166}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{405,166}}</string>
                <key>sourceSize</key>
                <string>{407,178}</string>
            </dict>
            <key>19_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,350},{401,166}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{401,166}}</string>
                <key>sourceSize</key>
                <string>{407,178}</string>
            </dict>
            <key>19_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,518},{399,176}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{399,176}}</string>
                <key>sourceSize</key>
                <string>{407,178}</string>
            </dict>
            <key>1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,538},{53,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,586},{53,46}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{59,48}</string>
            </dict>
            <key>24_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{388,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,185}}</string>
                <key>sourceSize</key>
                <string>{388,185}</string>
            </dict>
            <key>24_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,696},{388,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,185}}</string>
                <key>sourceSize</key>
                <string>{388,185}</string>
            </dict>
            <key>25_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{343,153}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{343,153}}</string>
                <key>sourceSize</key>
                <string>{365,187}</string>
            </dict>
            <key>25_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,883},{333,137}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{333,137}}</string>
                <key>sourceSize</key>
                <string>{365,187}</string>
            </dict>
            <key>25_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,883},{331,137}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{331,137}}</string>
                <key>sourceSize</key>
                <string>{365,187}</string>
            </dict>
            <key>28_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{206,363}}</string>
                <key>offset</key>
                <string>{-22,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,48},{206,363}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>28_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,520},{216,361}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,50},{216,361}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>9_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,883},{164,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{164,114}}</string>
                <key>sourceSize</key>
                <string>{182,124}</string>
            </dict>
            <key>VIP_15_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,367},{212,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,151}}</string>
                <key>sourceSize</key>
                <string>{212,151}</string>
            </dict>
            <key>VIP_22_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,883},{186,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{186,138}}</string>
                <key>sourceSize</key>
                <string>{186,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasIFish_5.png</string>
            <key>size</key>
            <string>{1024,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ace0557bc834db379de0a10b0a0edf:6/19$</string>
            <key>textureFileName</key>
            <string>atlasIFish_5.png</string>
        </dict>
    </dict>
</plist>
