<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>te_thien_walking_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,354},{364,356}}</string>
                <key>offset</key>
                <string>{-65,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,114},{364,356}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,382},{246,326}}</string>
                <key>offset</key>
                <string>{-5,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,144},{246,326}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,336}}</string>
                <key>offset</key>
                <string>{-84,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,130},{402,336}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{252,470}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,0},{252,470}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{212,378}}</string>
                <key>offset</key>
                <string>{28,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,88},{212,378}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{386,350}}</string>
                <key>offset</key>
                <string>{-76,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,115},{386,350}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,712},{292,302}}</string>
                <key>offset</key>
                <string>{86,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,165},{292,302}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,710},{288,240}}</string>
                <key>offset</key>
                <string>{-26,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,230},{288,240}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
            <key>te_thien_walking_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{364,372}}</string>
                <key>offset</key>
                <string>{-64,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,98},{364,372}}</string>
                <key>sourceSize</key>
                <string>{578,470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas_boss_te_thien1.png</string>
            <key>size</key>
            <string>{1010,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b98518a5ee4d756cfb1a0a9f59bc4b7e:3bf2b409006aafb463c6aaf0ce5de183:03d9c639f3486f801687f38d6216bc08$</string>
            <key>textureFileName</key>
            <string>atlas_boss_te_thien1.png</string>
        </dict>
    </dict>
</plist>
