<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,845},{157,173}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{157,173}}</string>
                <key>sourceSize</key>
                <string>{193,209}</string>
            </dict>
            <key>15_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{193,260}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{193,260}}</string>
                <key>sourceSize</key>
                <string>{201,266}</string>
            </dict>
            <key>15_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,720},{195,238}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{195,238}}</string>
                <key>sourceSize</key>
                <string>{201,266}</string>
            </dict>
            <key>15_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,720},{195,232}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{195,232}}</string>
                <key>sourceSize</key>
                <string>{201,266}</string>
            </dict>
            <key>17_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,499},{195,216}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{195,216}}</string>
                <key>sourceSize</key>
                <string>{201,216}</string>
            </dict>
            <key>22_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,717},{58,127}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{58,127}}</string>
                <key>sourceSize</key>
                <string>{68,129}</string>
            </dict>
            <key>27_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,2},{357,125}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{357,125}}</string>
                <key>sourceSize</key>
                <string>{373,175}</string>
            </dict>
            <key>27_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,499},{357,125}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{357,125}}</string>
                <key>sourceSize</key>
                <string>{373,175}</string>
            </dict>
            <key>27_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,626},{357,125}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{357,125}}</string>
                <key>sourceSize</key>
                <string>{373,175}</string>
            </dict>
            <key>28_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,357}}</string>
                <key>offset</key>
                <string>{-46,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{232,357}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>28_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{224,357}}</string>
                <key>offset</key>
                <string>{-42,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,54},{224,357}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>28_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,361},{224,357}}</string>
                <key>offset</key>
                <string>{-15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,54},{224,357}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>28_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{210,357}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,54},{210,357}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>29_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,846},{184,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,176}}</string>
                <key>sourceSize</key>
                <string>{184,176}</string>
            </dict>
            <key>2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,170},{69,37}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{69,37}}</string>
                <key>sourceSize</key>
                <string>{73,41}</string>
            </dict>
            <key>2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,129},{69,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{69,39}}</string>
                <key>sourceSize</key>
                <string>{73,41}</string>
            </dict>
            <key>3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,960},{94,61}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{94,61}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,414},{97,66}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{97,66}}</string>
                <key>sourceSize</key>
                <string>{101,108}</string>
            </dict>
            <key>6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{104,40}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{104,40}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
            <key>6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,982},{104,40}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,40}}</string>
                <key>sourceSize</key>
                <string>{106,50}</string>
            </dict>
            <key>8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,954},{139,67}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{139,67}}</string>
                <key>sourceSize</key>
                <string>{155,101}</string>
            </dict>
            <key>8_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,960},{137,61}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{137,61}}</string>
                <key>sourceSize</key>
                <string>{155,101}</string>
            </dict>
            <key>8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,753},{141,91}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{141,91}}</string>
                <key>sourceSize</key>
                <string>{155,101}</string>
            </dict>
            <key>VIP_11_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,414},{203,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,75}}</string>
                <key>sourceSize</key>
                <string>{203,75}</string>
            </dict>
            <key>VIP_14_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,129},{266,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,136}}</string>
                <key>sourceSize</key>
                <string>{266,136}</string>
            </dict>
            <key>VIP_14_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,361},{261,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,136}}</string>
                <key>sourceSize</key>
                <string>{261,136}</string>
            </dict>
            <key>VIP_15_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,267},{270,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,145}}</string>
                <key>sourceSize</key>
                <string>{270,145}</string>
            </dict>
            <key>VIP_15_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,209},{268,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,150}}</string>
                <key>sourceSize</key>
                <string>{268,150}</string>
            </dict>
            <key>VIP_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,71},{36,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,66}}</string>
                <key>sourceSize</key>
                <string>{36,66}</string>
            </dict>
            <key>VIP_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,139},{35,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,67}}</string>
                <key>sourceSize</key>
                <string>{35,67}</string>
            </dict>
            <key>VIP_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{36,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,67}}</string>
                <key>sourceSize</key>
                <string>{36,67}</string>
            </dict>
            <key>VIP_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,954},{35,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,68}}</string>
                <key>sourceSize</key>
                <string>{35,68}</string>
            </dict>
            <key>VIP_22_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,753},{186,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{186,90}}</string>
                <key>sourceSize</key>
                <string>{186,156}</string>
            </dict>
            <key>VIP_9_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{171,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,102}}</string>
                <key>sourceSize</key>
                <string>{171,102}</string>
            </dict>
            <key>VIP_9_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,106},{171,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,101}}</string>
                <key>sourceSize</key>
                <string>{171,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasIFish_13.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ace0557bc834db379de0a10b0a0edf:14/19$</string>
            <key>textureFileName</key>
            <string>atlasIFish_13.png</string>
        </dict>
    </dict>
</plist>
