<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,905},{163,115}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,45},{163,115}}</string>
                <key>sourceSize</key>
                <string>{193,209}</string>
            </dict>
            <key>14_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,905},{179,117}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{179,117}}</string>
                <key>sourceSize</key>
                <string>{191,129}</string>
            </dict>
            <key>15_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{193,264}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{193,264}}</string>
                <key>sourceSize</key>
                <string>{201,266}</string>
            </dict>
            <key>15_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,732},{191,264}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{191,264}}</string>
                <key>sourceSize</key>
                <string>{201,266}</string>
            </dict>
            <key>18_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,816},{226,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{226,206}}</string>
                <key>sourceSize</key>
                <string>{226,212}</string>
            </dict>
            <key>27_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{357,127}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{357,127}}</string>
                <key>sourceSize</key>
                <string>{373,175}</string>
            </dict>
            <key>27_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,131},{357,127}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{357,127}}</string>
                <key>sourceSize</key>
                <string>{373,175}</string>
            </dict>
            <key>27_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,260},{357,127}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{357,127}}</string>
                <key>sourceSize</key>
                <string>{373,175}</string>
            </dict>
            <key>27_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,389},{357,127}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{357,127}}</string>
                <key>sourceSize</key>
                <string>{373,175}</string>
            </dict>
            <key>27_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,518},{357,127}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{357,127}}</string>
                <key>sourceSize</key>
                <string>{373,175}</string>
            </dict>
            <key>27_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,647},{357,127}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{357,127}}</string>
                <key>sourceSize</key>
                <string>{373,175}</string>
            </dict>
            <key>27_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,776},{357,127}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{357,127}}</string>
                <key>sourceSize</key>
                <string>{373,175}</string>
            </dict>
            <key>28_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,363}}</string>
                <key>offset</key>
                <string>{-27,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{194,363}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>28_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{194,363}}</string>
                <key>offset</key>
                <string>{-27,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{194,363}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>28_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{190,363}}</string>
                <key>offset</key>
                <string>{-25,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,48},{190,363}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>28_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,367},{190,363}}</string>
                <key>offset</key>
                <string>{-25,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,48},{190,363}}</string>
                <key>sourceSize</key>
                <string>{324,411}</string>
            </dict>
            <key>VIP_14_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,2},{273,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,134}}</string>
                <key>sourceSize</key>
                <string>{273,134}</string>
            </dict>
            <key>VIP_14_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,411},{272,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,133}}</string>
                <key>sourceSize</key>
                <string>{272,133}</string>
            </dict>
            <key>VIP_14_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,546},{272,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,133}}</string>
                <key>sourceSize</key>
                <string>{272,133}</string>
            </dict>
            <key>VIP_14_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,138},{273,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,133}}</string>
                <key>sourceSize</key>
                <string>{273,133}</string>
            </dict>
            <key>VIP_14_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,681},{272,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,133}}</string>
                <key>sourceSize</key>
                <string>{272,133}</string>
            </dict>
            <key>VIP_14_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,273},{272,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,136}}</string>
                <key>sourceSize</key>
                <string>{272,136}</string>
            </dict>
            <key>VIP_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,816},{36,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,68}}</string>
                <key>sourceSize</key>
                <string>{36,68}</string>
            </dict>
            <key>VIP_1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,886},{36,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,67}}</string>
                <key>sourceSize</key>
                <string>{36,67}</string>
            </dict>
            <key>VIP_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,955},{36,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,67}}</string>
                <key>sourceSize</key>
                <string>{36,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasIFish_11.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5ace0557bc834db379de0a10b0a0edf:12/19$</string>
            <key>textureFileName</key>
            <string>atlasIFish_11.png</string>
        </dict>
    </dict>
</plist>
