<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,250},{100,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,94}</string>
            </dict>
            <key>BGContent.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,820},{196,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,136}}</string>
                <key>sourceSize</key>
                <string>{196,136}</string>
            </dict>
            <key>BGLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,250},{100,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,302}}</string>
                <key>sourceSize</key>
                <string>{100,302}</string>
            </dict>
            <key>BongBong.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,800},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>CirclePurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,839},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>CircleWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,352},{241,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,241}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>DarkRow.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,800},{156,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,37}}</string>
                <key>sourceSize</key>
                <string>{156,37}</string>
            </dict>
            <key>Dice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,765},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Dice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,863},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Dice3.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,950},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Dice4.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,937},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Dice5.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,937},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Dice6.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,964},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>HeaderRow.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,437},{179,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,34}}</string>
                <key>sourceSize</key>
                <string>{179,34}</string>
            </dict>
            <key>IconPlayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,960},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>IconTai.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,920},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>IconTaiXiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,595},{187,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,203}}</string>
                <key>sourceSize</key>
                <string>{187,203}</string>
            </dict>
            <key>IconVongQuay.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,620},{160,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,178}}</string>
                <key>sourceSize</key>
                <string>{160,178}</string>
            </dict>
            <key>IconXiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,934},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>ItemThongKeTai.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,606},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>ItemThongKeXiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,606},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>JFBackgroundThongKe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{396,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,346}}</string>
                <key>sourceSize</key>
                <string>{396,346}</string>
            </dict>
            <key>KhungDuoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,229},{392,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,19}}</string>
                <key>sourceSize</key>
                <string>{392,19}</string>
            </dict>
            <key>KhungTrai.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,349},{150,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,498}}</string>
                <key>sourceSize</key>
                <string>{150,498}</string>
            </dict>
            <key>LightRow.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,898},{130,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,37}}</string>
                <key>sourceSize</key>
                <string>{130,37}</string>
            </dict>
            <key>Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,908},{3,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,26}}</string>
                <key>sourceSize</key>
                <string>{3,26}</string>
            </dict>
            <key>TXBgTxt.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,352},{266,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,32}}</string>
                <key>sourceSize</key>
                <string>{266,32}</string>
            </dict>
            <key>TXBtnBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,800},{139,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,47}}</string>
                <key>sourceSize</key>
                <string>{139,47}</string>
            </dict>
            <key>TXBtnBGDis.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,849},{139,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,47}}</string>
                <key>sourceSize</key>
                <string>{139,47}</string>
            </dict>
            <key>TXBtnChat.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,849},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>TXBtnHide.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,810},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>TXBtnHuongDan.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,934},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>TXBtnSend.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,558},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,28}}</string>
                <key>sourceSize</key>
                <string>{46,28}</string>
            </dict>
            <key>TXBtnThongKe.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,918},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>TXBtnThongTin.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,920},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>TXBtnXepHang.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,913},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>TXResultContent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,349},{651,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{651,82}}</string>
                <key>sourceSize</key>
                <string>{651,82}</string>
            </dict>
            <key>TaiXiuBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1},{226,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,420}}</string>
                <key>sourceSize</key>
                <string>{226,420}</string>
            </dict>
            <key>TextTai.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,849},{113,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,83}}</string>
                <key>sourceSize</key>
                <string>{113,83}</string>
            </dict>
            <key>TextXiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,352},{117,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,83}}</string>
                <key>sourceSize</key>
                <string>{117,83}</string>
            </dict>
            <key>TitleHuongDan.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,352},{233,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,47}}</string>
                <key>sourceSize</key>
                <string>{233,47}</string>
            </dict>
            <key>TitleLichSu.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,849},{109,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,33}}</string>
                <key>sourceSize</key>
                <string>{109,33}</string>
            </dict>
            <key>TitleMiniGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,558},{205,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,42}}</string>
                <key>sourceSize</key>
                <string>{205,42}</string>
            </dict>
            <key>TitleTaiXiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,349},{469,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,152}}</string>
                <key>sourceSize</key>
                <string>{469,152}</string>
            </dict>
            <key>TitleXepHang.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,595},{223,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,45}}</string>
                <key>sourceSize</key>
                <string>{223,45}</string>
            </dict>
            <key>TxBtnBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,437},{119,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,77}}</string>
                <key>sourceSize</key>
                <string>{119,77}</string>
            </dict>
            <key>TxBtnBlueDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,839},{119,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,77}}</string>
                <key>sourceSize</key>
                <string>{119,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AtlasPopupMiniGame.png</string>
            <key>size</key>
            <string>{835,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b0730c88aaa7cf36e132a0cea7d6b1f:29a07a1c599c6320a3180d27dcbc61f3:881d9ef222b56a6e3c618c9734ed5ec7$</string>
            <key>textureFileName</key>
            <string>AtlasPopupMiniGame.png</string>
        </dict>
    </dict>
</plist>
